<div class="form mx-auto my-5 col-12 col-sm-10 col-md-8 col-lg-6 d-flex flex-column">
    <%= form_for(:user, url: sessions_path, html: {autocomplete: "off"}) do |f| %> 
        <div class="d-flex flex-sm-row flex-column">
            <label for="user_username" class="my-0" style="width: 5rem;">Username</label>
            <input autocomplete="off" type="text" class="styled-input flex-grow-1" name="user[username]" id="user_username" placeholder="username">
        </div>
        <div class="d-flex flex-sm-row flex-column my-2">
            <label for="user_password" class="my-0" style="width: 5rem;">Password</label>
            <input autocomplete="off" type="password" class="styled-input flex-grow-1" name="user[password]" id="user_password" placeholder="password">
        </div>
        <div class="d-flex flex-row justify-content-center">
            <input type="submit" class="styled-btn my-2 mx-2" value="Log In">
            <%= link_to "Register", new_user_path, remote: true, id: "userButton", class: "styled-btn my-2" %>
        </div>
    <% end %>
</div>

<div id="newUser"></div>
