<div class="container">
    <div class="mx-auto my-4 col-12 col-sm-10 col-md-8 col-lg-6">
        <p class="leading-snug">The WordFrequencyComparator is a web application for comparing average word frequencies across folders of documents in order to facilitate 
        empirical analysis.</p>
        <p class="leading-snug">
            Use the New Folder button in the main menu to create and name folders.
            Use the Add Document button 
            ( 
            <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
            </svg>
            )
            to populate folders with documents. For each document, provide either a file in PDF format or the URL for a webpage from which the text of the 
            document will be scraped.
        </p>
        <p class="leading-snug">
            Initiate a comparison by selecting an arbitrary number of folders from the library you have created, clicking the New Comparison button,
            and inputting a word or phrase. The application computes and visualizes the average frequency with which the word or phrase appears in the documents 
            contained in each folder.
        </p>
    </div>
    
    <div class="form mx-auto my-4 pt-2 pt-2 pb-3 col-12 col-12 col-sm-10 col-md-8 col-lg-6 d-flex flex-column">
        <h4 class="mb-2">Login</h1>
        <%= form_for(:user, url: sessions_path, html: {autocomplete: "off"}) do |f| %> 
            <div class="d-flex flex-sm-row flex-column">
                <label for="user_username" class="my-0" style="width: 5rem;">Username</label>
                <input autocomplete="off" type="text" class="styled-input flex-grow-1" name="user[username]" id="user_username" placeholder="username">
            </div>
            <div class="d-flex flex-sm-row flex-column my-2">
                <label for="user_password" class="my-0" style="width: 5rem;">Password</label>
                <input autocomplete="off" type="password" class="styled-input flex-grow-1" name="user[password]" id="user_password" placeholder="password">
            </div>
            <div class="d-flex flex-row justify-content-center">
                <input type="submit" class="styled-btn mr-2 mt-1" value="Login">
                <%= link_to "Register", new_user_path, remote: true, id: "userButton", class: "styled-btn mt-1" %>
            </div>
        <% end %>
    </div>
</div>

<div id="newUser"></div>
