<div class="container">
    <div class="form col-8 mx-auto my-5">
        <%= form_for(:user, url: sessions_path) do |f| %> 
            <form class="login-form" autocomplete="off">
                <div class="field row">
                    <label for="user_username" class="col-12 col-sm-3 col-lg-2">Username</label>
                    <input autocomplete="off" type="text" class="styled-input col-12 col-sm-8 col-lg-9" name="user[username]" id="user_username" placeholder="username">
                </div>
                <div class="field row">
                    <label for="user_password" class="col-12 col-sm-3 col-lg-2">Password</label>
                    <input autocomplete="off" type="password" class="styled-input col-12 col-sm-8 col-lg-9" name="user[password]" id="user_password" placeholder="password">
                </div>
                <div class="actions row">
                    <input type="submit" class="col-12 col-sm-3 col-lg-1 offset-sm-8 offset-lg-10 styled-btn my-2" value="Log In"> 
                    <input type="button" class="col-12 col-sm-3 col-lg-1 offset-sm-8 offset-lg-10 styled-btn" value="Register" onclick="location.href='<%= new_user_path %>'">
                </div>
            </form>
        <% end %>
    </div>
</div>

<div id="newUser">
</div>

