<div id="folderModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Folder</h4>
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: folder, id: "newFolderForm") do |form| %>
          <div class="field" id="name">
            <%= form.label :name, class: "col-12 col-sm-2 col-lg-1" %>
            <%= form.text_field :name, class: "col-12 col-sm-9 col-lg-10 styled-input" %>
          </div>
          <div class="actions col-12 col-sm-3 col-lg-1">
            <%= form.submit nil, class: "styled-btn" %>
          </div>
        <% end %>
      </div> <!-- end of modal body -->
    </div> <!-- end of modal content -->
  </div> <!-- end of dialog -->
</div> <!-- end of modal -->
