<% console %>
<div class="container">
  <div class="sub-heading">Folders</div>
  <div id="accordion">
      <%= render @folders %>
  </div>
  <div id="selection"></div>
  <div id="new-folder"></div>
  <div id="new-doc"></div>
  <div id="newSelection"></div>
</div>



