<% console %>
<div class="container">
  
  <div id="accordion">
    <div class="sub-heading">Folders</div>
    <%= render @folders %>
  </div>
  
  <div id="selection">
  </div>
  
  <div id="new-folder">
  </div>
  <div id="new-doc">
  </div>
  <div id="newSelection">
  </div>
</div>



