<div class="alert">
  <div class="container">
    <div class="d-flex flex-row">
    <div class="alert-text">
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <%= msg %>
        <% end %>
      <% end %>
    </div>
    <div class="d-block d-md-none ml-auto">
      <%= link_to "Logout", logout_path, method: :delete, class: "logout-btn" %> 
    </div>
    </div>
  </div>
</div>