<div class="document">
    <div class="d-flex">
        <%= content_tag :span, "#{document.title}", class: "document-title" %>
        <%= link_to "Delete document", [current_user.folders.find(document.folder_id), document], method: :delete, remote:true, class: "delete delete-doc ml-auto" %>
    </div>   
</div>