/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@import 'colors';
@font-face {font-family: 'OpenSans-Regular'; src: font-url("OpenSans-Regular.ttf") format('truetype')}
@font-face {font-family: 'OpenSans-SemiBold'; src: font-url("OpenSans-SemiBold.ttf") format('truetype')}
@font-face {font-family: 'OpenSans-Bold'; src: font-url("OpenSans-Bold.ttf") format('truetype')}

.d-blue { color: $d-blue; } .green { color: $green; } .white { color: $white; }

body { 
    font-family: 'OpenSans-SemiBold'; font-size: .9rem; 
    background-color: $d-blue; color: $white; 
    min-height: 1000px;
    p {
       font-family: 'OpenSans-Regular'; font-size: .8rem;
       line-height: 1.3rem;
       span {
           font-family: inherit;
           font-weight: bold;
       }
    }
}

.main-heading { 
    font-size: 1.4rem;
    word-wrap: break-word; 
}
@media (max-width: 479px) {
    .main-heading { 
        font-size: 5.5vw; 
    }
}
.alert { 
    background-color: $blue;
    padding: 2px;
    min-height: 30px; 
    border-radius: 0; 
    margin: 0; 
}

.login { 
    font-size: .8rem;
}

.header { 
    background-color: $d-blue;
}

.menu { 
    background-color: $l-blue; 
    .menu-item {
        text-align: center; 
        border-bottom: 4px solid $l-blue;
        
        &:hover {
            border-bottom: 4px solid $green; 
        }
    }
    .menu-link {
        text-transform: uppercase; 
        color: $white; 
        opacity: 1; 
        font-family: 'OpenSans-SemiBold';
        &:hover {
            background-color: $l-blue;
            text-decoration: none;
        }
    }
}

.sub-heading { font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.logout-btn {
    font-size: 12px;
    border: 2px solid $white;
    color: $white;
    background-color: $d-blue;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: $l-blue
    }
    &:active {
        outline: none;
        background-color: $blue;
    }
    &:focus {
        outline: none;
    }
    &:visited {
        color: $white;
    }
}

.leading-snug {
    line-height: 1.3em;
}









