/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@font-face {font-family: 'OpenSans-Regular'; src: font-url("OpenSans-Regular.ttf") format('truetype')}
@font-face {font-family: 'OpenSans-SemiBold'; src: font-url("OpenSans-SemiBold.ttf") format('truetype')}
@font-face {font-family: 'OpenSans-Bold'; src: font-url("OpenSans-Bold.ttf") format('truetype')}
$d-blue: #004c8c; $blue: #0277bc; $l-blue: #58a5f0;
$green: #00e676; $d-green: #00b248;
$yellow: #FFF842; $white: #ffffff; $red: #ff7043;
.d-blue { color: $d-blue; } .green { color: $green; } .white { color: $white; }

body { 
    font-family: 'OpenSans-SemiBold'; font-size: .9em; 
    background-color: $d-blue; color: $white; 
    height: 1000px;
    p {
       font-family: 'OpenSans-Regular'; font-size: .8em;
       span {
           font-family: inherit;
           font-weight: bold;
       }
    }
}

.main-heading { font-size: 1.3em; }
.alert { 
    background-color: $blue; 
    color: black; 
    padding: 2px;
    height: 30px; 
    border-radius: 0; 
    margin: 0; 
    span { padding-left: 2px; }
}

.login-strip { position: absolute; right: 0; top: 0; z-index: 1; text-align: right; padding-top: 8px; font-size: 12px; }

.navbar { 
    background-color: $d-blue;
    padding-top: 0;
    padding-bottom: 0; 
    a {
      padding-top: 10px; padding-bottom: 10px;  
    }
    .navbar-brand:hover { background-color: inherit; }
    .login-strip { padding-right: 14px; }
}

#menu { background-color: $l-blue; padding: 0; text-align: center; }
#menu li { text-align: center; border-bottom: 4px solid $l-blue;}
#menu li:hover { border-bottom: 4px solid $green; }
#menu .menu-item { text-align: center; padding: 4px 18px 4px 18px; }

#menu a { text-transform: uppercase; color: $white; opacity: 1; font-family: 'OpenSans-SemiBold'; }
#menu li:nth-child(1) { margin-left: -17px; }
#menu a:hover { background-color: $l-blue; } 

.sub-heading { font-size: 1.5em; margin-top: 15px; margin-bottom: 10px; }
.folder .card-header:nth-child(odd) { background-color: $green; }
.folder .card-header:nth-child(even) { background-color: $blue; }
.folder .card { border-radius: 0; border: 0;  margin-bottom: 5px; padding: 0; }
.folder .card-header { border-radius: 0; padding: 10px; }
.folder .card-header svg { font-family: 'FontAwesome'; margin-left: 2px; margin-right: 8px; }
.folder .card-header:hover { background-color: $green; box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75); }
.link { 
    text-transform: uppercase; 
    color: $white;
    opacity: 1; 
    font-size: .9em; 
    margin-top: 0;
    svg {
        margin-top: -4px;
        color: $white;
    }
    &:hover {
        background-color: inherit; text-decoration: none; text-shadow: 3px 3px 3px rgba(0,0,0,.8); color: $white;
    }
    &:visited { color: inherit; }
}
.folder-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.folder {
    .styled-checkbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -5px;
        align-items: center;
        padding-right: 5px;
        > span {
            color: #34495E;
            padding: 0.5rem 0.25rem;
        }
        > input {
            height: 23px; width: 23px;
            appearance: none;
            border: 2px solid $white;
            border-radius: 4px;
            outline: none;
            transition-duration: 0.5s;
            background-color: $l-blue;
            cursor: pointer;
            position: relative;
        }
        > input:checked {
            border: 2px solid $green;
            background-color: $blue;
            display: block;
            text-align: center;
            color: $white;
        }
        > input:checked::before {
            content: '\2713';
            display: block;
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: -0.3rem;
            margin-left: 2px;
        }
        > input:active {
            border: 2px solid $white;
        }
    }
}
.folder a:hover { background-color: inherit; text-decoration: none; text-shadow: 3px 3px 3px rgba(0,0,0,.7) }
.folder .card-body { padding: 10px; }
.folder .card-body a { text-transform: uppercase; color: $white; opacity: 1; }
.folder .card-body a:hover { background-color: inherit; text-decoration: none; text-shadow: 3px 3px 3px rgba(0,0,0,.8) }
#accordion .folder:nth-child(odd) .card-header { background-color: $l-blue; }
#accordion .folder:nth-child(even) .card-header { background-color: $blue; }
.panel-footer { background-color: $green; }
.footer-content { height: 50px; }

.styled-input {
    font-family: 'OpenSans-SemiBold';
    &:focus {
        outline: none;
    }
}
.modal {
    input[type="file"] { display: none; }
    input[type="submit"] {margin-left: 0px; }
    .modal-body { background-color: $l-blue; }
    .modal-header { background-color: $d-blue; border-bottom: 0; }
    button.close { 
        color: $white; 
        &:focus {
            outline: none;
        }
    }
    
}
#fileup { 
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.styled-btn {
    color: $white;
    background-color: $l-blue;
    border-bottom: 2px solid $d-blue;
    border-left: 2px solid $d-blue;
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    &:hover {
        background-color: $green;
        cursor: pointer;
    }
    &:active {
        outline: none;
        background-color: $d-blue;
    }
}
.submit { width: 100%; }
.errors {
    font-family: 'OpenSans-Regular';
    font-size: .8em;
}








